<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <script src="vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
        <script src="https://trello.com/1/client.js?key=ce77e6af1371cfb41f4a8e8840d76f4c"></script>
        <script src="date.format.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script><!--引入MarkDown渲染引擎-->
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="page" class="page">
            <div class="article"  v-if="memberCreatorFullName">
                <div style="display: flex; justify-content: space-between; align-items: center">
                    <p class="page-title">{{name}}</p>
                    <!--登录信息-->
                    <div class="user-info" v-if="authorized"><img :src="user_info.avatarUrl+'/50.png'"/><a class="article-info" style="padding-left:10px">{{user_info.fullName}}</a></div>
                    <button v-else v-on:click="authorize()">用Trello账户登录</button>
                </div>
                <div class="article-info">
                    <img class="avatar" v-bind:src="memberCreatorAvatar"/>
                    <a style="margin:10px">{{memberCreatorFullName}}</a>
                    <a class="shallow_text">{{created_date}}</a>
                </div>
                <div v-html="compiledMarkdown"></div>
                <div class="comments">
                    <p class="comments-title">评论 共{{comments.length}}条</p>
                    <div class="comment">
                        <textarea id="comment-textarea" placeholder="支持用markdown写评论"></textarea>
                        <button v-on:click="onPostComment">{{authorized ? "发布评论" : "登录并发布评论"}}</button>
                    </div>
                    <!--a :href="link" style="display: block;margin-bottom: 10px">在Trello上发表评论</a-->
                    <div class="comment" v-for="c in comments">
                        <div class="article-info">
                            <img class="avatar" v-bind:src="c.memberCreator.avatarUrl+'/30.png'"/>
                            <a style="margin:10px">{{c.memberCreator.fullName}}</a>
                            <a class="shallow_text">{{new Date(c.date).format("Y年m月d日 H:i")}}</a>
                        </div>
                        <div v-html="c.compiledMarkdown"></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: "#page",
                data: {
                    card_id: "",
                    memberCreatorFullName: "",
                    memberCreatorAvatar: "",
                    created_date: "",
                    comments: new Array(), // 评论
                    name: "",
                    desc: "",
                    link: "", // 对应卡片的link
                    isMobile: false,
                    authorized: false,
                    user_info: {}
                },
                computed: {
                    compiledMarkdown: function(){
                        return marked(this.desc, {});
                    },
                },
                created: function(){
                    if(localStorage["trello_token"]!=undefined) // 曾经主动登录过，尝试自动登录
                    {
                        this.authorize();
                    }
                    var addr = new URL(window.location.href);
                    var id = addr.searchParams.get("card_id");
                    //if(navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|wOSBrowser|BrowserNG|WebOS)/i)) this.isMobile = true;
                    if(id == undefined) window.location = "index.html";
                    console.log(id);
                    this.card_id = id;
                    this.refresh();
                },

                methods: {
                    refresh() { // 页面内全部刷新，但是不是浏览器意义上的刷新
                        var that = this;
                        original = window.Trello.get("boards/zqJHbNrr/cards/"+this.card_id+"?actions=createCard,commentCard");
                        original.fail(function(data){window.location = "index.html"}); // 失败的处理机制
                        original.done(
                            function(data){
                                console.log(data);
                                that.link = data.url;
                                var ex = "[在Trello上阅读此文章]("+that.link+")\n\n";
                                that.desc = ex+data.desc;
                                that.name = data.name;
                                that.memberCreatorFullName = data.actions[data.actions.length-1].memberCreator.fullName;
                                that.memberCreatorAvatar = data.actions[data.actions.length-1].memberCreator.avatarUrl+"/30.png";
                                that.created_date = new Date(1000*parseInt(that.card_id.substring(0,8),16)).format("Y年m月d日 H:i");
                                for(var i=0;i<=data.actions.length-2;++i) { // 从最晚到最早的评论排序
                                    data.actions[i].compiledMarkdown = marked(data.actions[i].data.text);
                                    that.comments.push(data.actions[i]); // 其他actions都是comments
                                }
                            }
                        )
                    },
                    authorize(suc=null) {
                        var that = this;
                        Trello.authorize({
                            expiration: "never",
                            type: "popup",
                            name: "KenCloud",
                            scope: { read: true, write: true},
                            success() {
                                console.log(Trello.token(),Trello.authorized())
                                console.log(localStorage);
                                that.authorized = true;
                                Trello.get("tokens/"+Trello.token()+"/member", function(dat){
                                    console.log("info of token:",dat)
                                    that.user_info = dat;
                                    if(suc!=null) suc(); // 回调成功函数
                                })
                            }
                        })
                    },

                    postComment(suc=null) {
                        var value = document.getElementById("comment-textarea").value;
                        console.log("valueis:",value);
                        if(!value) return;
                        var that = this;
                        var t = Trello.post("cards/"+this.card_id+"/actions/comments?text="+value, function(){
                            that.refresh();
                            if(suc!=null) suc(); // 回调成功函数 
                        })
                        console.log(t);
                    },
                    onPostComment() {
                        var that = this;
                        if(this.authorized) {
                            this.postComment(function(){console.log("comment successful")})
                        }
                        else {
                            this.authorize(function(){
                                that.postComment(function(){console.log("comment successful")})
                            })
                        }
                    }
                }
            })
        </script>
    </body>
</html>