<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <script src="vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
        <script src="https://trello.com/1/client.js?key=ce77e6af1371cfb41f4a8e8840d76f4c"></script>
        <script src="date.format.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script><!--引入MarkDown渲染引擎-->
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="page" class="page">
            <div class="article"  v-if="memberCreatorFullName">
                <p class="page-title">{{name}}</p>
                <div class="article-info">
                    <img class="avatar" v-bind:src="memberCreatorAvatar"/>
                    <a style="margin:10px">{{memberCreatorFullName}}</a>
                    <a class="shallow_text">{{created_date}}</a>
                </div>
                <div v-html="compiledMarkdown"></div>
                <div class="comments">
                    <p class="comments-title">评论 共{{comments.length}}条</p>
                    <a :href="link" style="display: block;margin-bottom: 10px">在Trello上发表评论</a>
                    <div class="comment" v-for="c in comments">
                        <div class="article-info">
                            <img class="avatar" v-bind:src="c.memberCreator.avatarUrl+'/30.png'"/>
                            <a style="margin:10px">{{c.memberCreator.fullName}}</a>
                            <a class="shallow_text">{{new Date(c.date).format("Y年m月d日 H:i")}}</a>
                        </div>
                        <div v-html="c.compiledMarkdown"></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: "#page",
                data: {
                    card_id: "",
                    memberCreatorFullName: "",
                    memberCreatorAvatar: "",
                    created_date: "",
                    comments: new Array(), // 评论
                    name: "",
                    desc: "",
                    link: "", // 对应卡片的link
                    isMobile: false,
                },
                computed: {
                    compiledMarkdown: function(){
                        return marked(this.desc, {});
                    },
                },
                created: function(){
                    var that = this;
                    var addr = new URL(window.location.href);
                    var id = addr.searchParams.get("card_id");
                    //if(navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|wOSBrowser|BrowserNG|WebOS)/i)) this.isMobile = true;
                    if(id == undefined) window.location = "index.html";
                    console.log(id);
                    this.card_id = id;
                    original = window.Trello.get("boards/zqJHbNrr/cards/"+id+"?actions=createCard,commentCard");
                    original.fail(function(data){window.location = "index.html"}); // 失败的处理机制
                    original.done(
                        function(data){
                            console.log(data);
                            that.link = data.url;
                            var ex = "[在Trello上阅读此文章]("+that.link+")\n\n";
                            that.desc = ex+data.desc;
                            that.name = data.name;
                            that.memberCreatorFullName = data.actions[data.actions.length-1].memberCreator.fullName;
                            that.memberCreatorAvatar = data.actions[data.actions.length-1].memberCreator.avatarUrl+"/30.png";
                            that.created_date = new Date(1000*parseInt(id.substring(0,8),16)).format("Y年m月d日 H:i");
                            for(var i=0;i<=data.actions.length-2;++i) { // 从最晚到最早的评论排序
                                data.actions[i].compiledMarkdown = marked(data.actions[i].data.text);
                                that.comments.push(data.actions[i]); // 其他actions都是comments
                            }
                        }
                    )
                }
            })
        </script>
    </body>
</html>