body{
    background: #ebecf0;
}
.page{
    background-color: #ebecf0;
}
.page-title{
    font-weight: bold;
}
.main{
    box-sizing: border-box;
    padding: 10px;
}
.item{
    background-color: #9CD1F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: flex-start;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 5px solid #9cd1f5;
    border-radius: 5px;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.item:hover{
    background-color: #1F99EB;
    color: #ffffff;
    border: 5px solid #1F99EB;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.item:active{
    background-color: #127EC7;
    color: #ffffff;
    border: 5px solid #127EC7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.article{
    background-color: #f2f2f3;
    padding: 25px;
    margin: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}

.article-info{
    /*文章作者、日期信息*/
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.shallow_text{
    opacity: 0.7;
}

.label {
    display: inline-block;
    border: 10px;
    border-radius: 10%;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 200%;
}

@media screen and (max-device-width: 960px) {
    /*移动端*/
    .page-title{
        font-size: 50px;
    }
    .label {
        height: 60px;
        min-width: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .article-info {
        margin-bottom: 20px;
        font-size: 35px;
    }
    .article{
        font-size: 30px;
    }
    .item-title{
        font-size: 45px;
    }
    .avatar{
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-device-width: 961px) {
    .page-title{
        font-size: 40px;
    }
    .label {
        height: 30px;
        min-width: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .aritcle-info {
        margin-bottom: 5px;
        font-size: 30px;
    }
    .item-title{
        font-size: 22px;
    }
    .avatar{
        width: 30px;
        height: 30px;
    }
}